<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Book - Daira Arellano Abad</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav">
        <a class="header__nav__link" href="/views/Work.html">Work</a>
        <a class="header__nav__link" href="/views/Book.html">Book</a>
        <a class="header__nav__link" href="/views/Portafolio.html"
          >Portafolio</a
        >
        <a class="header__nav__link" href="/views/About.html">About</a>
        <a class="header__nav__link" href="/views/Contact.html">Contact</a>
      </nav>
      <img src="/assets/Logo.jpg" alt="Logo" />
    </header>
    <canvas id="particleCanvas"></canvas>

    <main>
      <section class="main__section">
        <h1 class="main__section_h1">Galería de Proyectos</h1>
        <div class="gallery">
          <img
            class="gallery-image"
            src="/assets/proyecto1.png"
            alt="Imagen de proyecto 1"
          />
          <img
            class="gallery-image"
            src="/assets/proyecto2.png"
            alt="Imagen de proyecto 2"
          />
          <img
            class="gallery-image"
            src="/assets/proyecto3.png"
            alt="Imagen de proyecto 3"
          />
          <img
            class="gallery-image"
            src="/assets/proyecto4.jpg"
            alt="Imagen de proyecto 4"
          />
          <img
            class="gallery-image"
            src="/assets/proyecto5.jpg"
            alt="Imagen de proyecto 5"
          />
          <img
            class="gallery-image"
            src="/assets/proyecto6.jpeg"
            alt="Imagen de proyecto 6"
          />
          <img
            class="gallery-image"
            src="/assets/proyecto7.jpeg"
            alt="Imagen de proyecto 7"
          />
        </div>
      </section>
    </main>
    <script src="/js/particles.js"></script>
  </body>
</html>
