<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Portafolio - Daira Arellano Abad</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav">
        <a class="header__nav__link" href="/views/Work.html">Work</a>
        <a class="header__nav__link" href="/views/Book.html">Book</a>
        <a class="header__nav__link" href="/views/Portafolio.html"
          >Portafolio</a
        >
        <a class="header__nav__link" href="/views/About.html">About</a>
        <a class="header__nav__link" href="/views/Contact.html">Contact</a>
      </nav>
      <img src="/assets/Logo.jpg" alt="Logo" />
    </header>
    <canvas id="particleCanvas"></canvas>

    <main>
      <section class="main__section">
        <h1 class="main__section_h1">Mi Portafolio</h1>
        <div class="portfolio-grid">
          <div class="portfolio-item">
            <img src="/assets/proyecto1.png" alt="Proyecto 1" />
            <h3>Residencia Ecológica</h3>
            <p>Diseño sostenible con materiales reciclados</p>
          </div>
          <div class="portfolio-item">
            <img src="/assets/proyecto2.png" alt="Proyecto 2" />
            <h3>Centro Cultural</h3>
            <p>Espacio multifuncional para eventos comunitarios</p>
          </div>
          <div class="portfolio-item">
            <img src="/assets/proyecto3.png" alt="Proyecto 3" />
            <h3>Oficinas Modernas</h3>
            <p>Diseño ergonómico para mejorar la productividad</p>
          </div>
          <div class="portfolio-item">
            <img src="/assets/proyecto5.jpg" alt="Proyecto 4" />
            <h3>Restaurante Temático</h3>
            <p>Ambiente inmersivo inspirado en la naturaleza</p>
          </div>
        </div>
      </section>
    </main>
    <script src="/js/particles.js"></script>
  </body>
</html>
