<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Work - Daira Arellano Abad</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav">
        <a class="header__nav__link" href="/views/Work.html">Work</a>
        <a class="header__nav__link" href="/views/Book.html">Book</a>
        <a class="header__nav__link" href="/views/Portafolio.html"
          >Portafolio</a
        >
        <a class="header__nav__link" href="/views/About.html">About</a>
        <a class="header__nav__link" href="/views/Contact.html">Contact</a>
      </nav>
      <img src="/assets/Logo.jpg" alt="Logo" />
    </header>
    <canvas id="particleCanvas"></canvas>
    <main>
      <section class="main__section">
        <h1 class="main__section_h1">Proyectos Destacados</h1>
        <div class="main__section__div">
          <div class="project-card">
            <a href="/views/Contact.html"
              ><img
                class="image-hover"
                src="/assets/proyecto1.png"
                alt="Foto de proyecto 1"
            /></a>
            <h3>Residencia Moderna</h3>
            <p>Diseño minimalista con enfoque en sostenibilidad</p>
          </div>
          <div class="project-card">
            <a href="/views/Contact.html"
              ><img
                class="image-hover"
                src="/assets/proyecto2.png"
                alt="Foto de proyecto 2"
            /></a>
            <h3>Parque Urbano</h3>
            <p>Integración de áreas verdes en el entorno urbano</p>
          </div>
          <div class="project-card">
            <a href="/views/Contact.html"
              ><img
                class="image-hover"
                src="/assets/proyecto3.png"
                alt="Foto de proyecto 3"
            /></a>
            <h3>Edificio Comercial</h3>
            <p>Estructura innovadora con espacios flexibles</p>
          </div>
        </div>
      </section>
      <section class="main__section">
        <h2 class="main__section_h1">Otros Proyectos</h2>
        <div class="main__section__div">
          <div class="project-card">
            <a href="/views/Contact.html"
              ><img
                class="image-hover"
                src="/assets/proyecto4.jpg"
                alt="Foto de proyecto 4"
            /></a>
            <h3>Renovación Histórica</h3>
            <p>Restauración y modernización de edificio patrimonial</p>
          </div>
          <div class="project-card">
            <a href="/views/Contact.html"
              ><img
                class="image-hover"
                src="/assets/proyecto5.jpg"
                alt="Foto de proyecto 5"
            /></a>
            <h3>Complejo Residencial</h3>
            <p>Diseño de comunidad sostenible con áreas comunes</p>
          </div>
        </div>
      </section>
    </main>

    <script src="/js/particles.js"></script>
  </body>
</html>
